= simple_form_for @person do |f|
    = f.input :name,:placeholder => 'user@domain.com'
    = f.input :age, :collection => 18..60, :prompt => "Select your age"
    = f.input :zipcode
    = f.association :company
    = f.input :accepts, :as => :radio
    = f.button :submit
