%p#notice= notice

%p
  %b Name:
  = @person.name
%p
  %b Age:
  = @person.age
%p
  %b Zipcode:
  = @person.zipcode

%p
  %b Company:
  - unless @person.company.nil?
    = @person.company.name 
  - else
    unemployed

= link_to 'Edit', edit_person_path(@person)
\|
= link_to 'Back', people_path
